.about{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

.intro{
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.skills{
  margin-left: 20px;
}

.sub_head{
  font-family: 'Open Sans', sans-serif;
  font-weight:  500;
}

@media(max-width: 700px){
  .about{
    display: block;
  }
}
