.btn2{
  color: #fff;
  background: #000;
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem 1.3rem;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 40px;
  position: inherit;
}

.btn2:hover{
  opacity: 0.8;
}
