.bg3{
  background: #cfcfcf;
  overflow: auto;
}

.copyright{
  font-weight: lighter;
  color: white;
  display: flex;
  justify-content: center;
}

.icons{
  justify-content: center;
  display: flex;
}

.icon{
  color: black;
  font-size: 100px;
}
