.welcome {
  font-weight: lighter;
  font-size: calc(10px + 2vmin);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0rem;
  align-items: center;
  justify-content: center;

}
.welcome h1{
  margin: 0;
  padding: 0;
  font-size: calc(40px + 2vh);
}

.welcome p{
  margin-bottom: calc(10px + 2vh);
  padding: 0;
  font-size: calc(15px + 2vh);
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.subheading{
  opacity: 0.6;
}

.fade_in{
  animation-name: fade_in;
  animation-duration: 2s;
}
h1 {
  font-weight: lighter;
}

@keyframes fade_in {
  0% {opacity: 0%}
  50% {opacity: 0%}
  100% {opacity: 100%}
}

.bg1{
  background-image: url('../images/background/bg_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
