.button {
  text-decoration: none;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background/bg_4.jpg');
  border-radius: 10rem;
  z-index: -1;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: 90%;
  background: url('../images/background/bg_3.jpg');
  transition: all .3s;
  border-radius: 10rem;
  z-index: -2;
}
.button:hover {
  color: #000;
  transform: scale(0.9);
}
.button:hover:before {
  width: 100%;
}

.navBar {
  animation-name: fade_in;
  animation-duration: 2s;
  transition: top 1s ease-in-out;
  content: inherit;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

@keyframes fade_in {
  0% {opacity: 0%}
  50% {opacity: 0%}
  100% {opacity: 100%}
}


.navList{
  list-style: none;
  margin: 0;
  justify-content: flex-end;
  display: flex;
  }

  .navUp{
    right: 0;
    z-index: 1;
    top: -100px;
    transition: top 1s ease-in-out;
    animation-name: fade_out;
    animation-duration: 1s;
    content: inherit;
    position: fixed;
  }
