.project{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

.btn{
  color: #fff;
  background: #000;
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem 1.3rem;
  text-decoration: none;
  border-radius: 5px;
  position: fixed;
  bottom: 32px;
}

.btn:hover{
  opacity: 0.8;
}

img {
  width: 100%;
}

.project:nth-child(even) img{
  order: 2;
}

@media(max-width: 700px){
  .project{
    display: block;
  }
}
